* {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 5rem;
  font-family: "VT323", monospace;
  color: #ffffff;
  text-align: center;
  padding: 80px;
}

h2 {
  font-size: 2.5em;
  font-family: "VT323", monospace;
  color: #ffffff;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 765px) {
  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 2rem;
  }
}

/* *********** SCROLL BAR ************** */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: goldenrod;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ff0000a4;
}

/* *************** NAVBAR **************** */
#navbar {
  position: sticky;
  top: 0px;
  z-index: 90;
}

.navbar {
  background-color: #202020;
  height: 13vh;
}

.navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.navbar-brand img {
  height: 80px;
  width: 20vw;
}

.navbar-cs-logo {
  position: absolute;
  left: 10%;
}

.nav-item {
  color: #ffffff;
}

.nav-link {
  color: #ffffff;
  font-size: 12px;
  font-weight: 600;
  font-family: "Noto Sans", sans-serif;
}

.custom-toggler.navbar-toggler {
  border-color: goldenrod;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(218, 165, 32)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

@media screen and (max-width: 765px) {
  .navbar-brand img {
    height: 30px;
    width: 35vw;
  }

  .navbar-collapse {
    display: flex;
    justify-content: center;
    margin-top: 30%;
  }

  #navbarSupportedContent {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -50%);
  }

  /* .navbar-nav {
    background-color: yellow;
  } */
}

/* *********** FIRST SECTION ************* */
#home {
  /* height: 100vw; */
}

.cs-name-heading {
  color: goldenrod;
  font-size: 80px;
  font-family: "VT323", monospace;
  text-shadow: #202020;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

.cs-name-inner {
  /* background-color: red; */
  /* margin-bottom: 0; */
  /* padding-bottom: 0; */
}

.cs-name-inner2 {
  margin-top: -50px;
  /* padding-top: 0px; */
  /* background-color: yellow; */
}

.first-section-bg {
  z-index: 1;
  width: 100%;
  margin-top: 0px;
  filter: grayscale(0.1);
}

.first-section-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 13vw;
  margin: auto;
  left: 50%;
  z-index: 80;
  transform: translate(-50%, -50%);
}

.codestorm-first-section {
  width: 420px;
  height: 300px;
  z-index: 80;
  /* background-color: red; */
}

.codeissance-first-section {
  width: 50vw;
  height: 5vw;
  /* background-color: yellow; */
}

#apply-button {
  /* margin: auto; */
  position: relative;
  top: 150px;
}

/* #apply-button {
  position: relative;
  top: 150px;
  align-items: center;
  background-color: #3770ff;
  border-radius: 4px;
  border: 2px solid transparent;
  color: #fff;
  display: flex;
  font-size: 20px;
  font-weight: 600;
  height: 44px;
  justify-content: center;
  outline: none;
  padding: 0 32px;
  transition: all 0.1s ease-in 0s;
  white-space: nowrap;
  width: 100%;
} */

#svg {
  height: 24px;
  width: 24px;
  margin-right: 8px;
}

@media screen and (max-width: 1024px) {
  .codestorm-first-section {
    width: 370px;
    height: 200px;
  }

  .first-section-logo {
    top: 120px;
  }
}

@media screen and (max-width: 768px) {
  .codestorm-first-section {
    width: 300px;
    height: 150px;
  }

  .first-section-logo {
    top: 120px;
  }

  .apply-button {
    margin: auto;
    /* top: 35vw; */
  }
}

@media screen and (max-width: 570px) {
  .first-section-bg {
    /* height: 100%; */
    height: 70vh;
    width: 100%;
    object-fit: cover;
  }

  .first-section-logo {
    top: 150px;
  }

  .codestorm-first-section {
    width: 200px;
    height: 100px;
  }
}

/* *********** PARTITION SECTION *********** */
#partition_section {
  z-index: 10;
  position: relative;
  /* bottom: 0; */
  /* margin-top: -200px; */
}

@media screen and (max-width: 580px) {
  #partition_section img {
    /* margin-top: -180px; */
    height: 10vh;
  }
}

@media screen and (max-width: 420px) {
  #partition_section {
    /* margin-top: -150px; */
  }
}

/* *********** ABOUT SECTION ************* */
#about {
  /* margin-top: -20%; */
  /* position: relative; */
  z-index: 10;
}

.about_title {
  font-size: 3.5rem;
  font-family: "VT323", monospace;
  color: goldenrod;
  display: flex;
  justify-content: left;
  padding: 0px;
  margin: 0px;
  margin-left: 15vw;
}

.align_ci_about {
  padding-bottom: 50px;
  /* padding-top: 50px; */
  display: flex;
  /* flex-direction: row; */
  /* justify-content:space-evenly; */
  /* align-items: center; */
}

.about_video {
  align-items: center;
  justify-content: center;
  display: flex;
  width: auto;
  height: 50vh;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
  border: 5px solid;
  border-color: #333;
  overflow: hidden;
  transform: scale(1);
  transition: 0.5s ease-out;
  /* background-color: red; */
}

/* .about_description {
  font-family: "Noto Sans", sans-serif;
  line-height: 1.7;
  text-align: left;
  margin-top: 0px;
  color: white;
  margin-inline: 5vw;
  margin-right: 5vw;
  margin-left: 15vw;
  padding-bottom: 50px;
  font-size: 1.3rem;
  max-width: 40vw;
} */

.desc_1 {
  font-family: "Noto Sans", sans-serif;
  margin-right: 5vw;
  font-size: 1.3rem;
  margin-left: 15vw;
  color: white;
  line-height: 1.7;
  width: 35vw;
}

.desc2 {
  width: 30%;
  font-family: "Noto Sans", sans-serif;
  font-size: 1.3rem;
  line-height: 1.7;
  color: white;
}

.decs_2_inner {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.3rem;
  line-height: 1.7;
  color: white;
}

.about_event_info {
  font-size: 1.3rem;
  line-height: 1.7;
  color: white;
  font-family: "Noto Sans", sans-serif;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .about_description {
    font-size: 1rem;
  }

  .about_video {
    width: 80%;
    /* height: 80%; */
  }
}

@media screen and (max-width: 765px) {
  .about_title {
    font-size: 1.8rem;
    /* align-items: center; */
  }

  .about_video {
    width: 80%;
    height: 80%;
    margin: auto;
    margin-top: 20px;
  }

  .align_ci_about {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .about_description {
    font-size: 1rem;
    max-width: fit-content;
    padding: 5%;
    margin-top: 0px;
    margin-inline: 0vw;
    /* margin-right: 2%; */
    margin-left: 5%;
  }

  .desc_1 {
    width: 80vw;
  }

  .desc2 {
    width: 80vw;
  }

  .about_event_info {
    font-family: "Noto Sans", sans-serif;
    display: flex;
    align-items: start;
  }

  .material-symbols-outlined {
    padding-top: 2px;
  }
}

/* *********** DOMAINS SECTION ************* */

/* *********** SPONSORS SECTION ************ */
#sponsors {
  /* background-image: url("../images/abc.avif"); */
  background-image: url("../images/abc.avif");
  /* background-repeat: no-repeat; */
  background-size: 80vh;
}

.sponsors_bracket {
  color: goldenrod;
}

.sponsor-image {
  width: 300px;
  /* background-color: #202020; */
  filter: contrast(60%);
  /* height: 200px; */
}

@media screen and (max-width: 765px) {
  .sponsor-image {
    width: 200px;
  }
}

/* ********** FAQ'S SECTION ************* */
.accordion-item {
  border: none;
  margin: 50px;
  background-color: #202020;
}

.accordion-header {
  font-family: "VT323", monospace;
  background-color: #202020;
}

.accordion-button {
  border: none;
  background-color: #202020;
  color: #ffffff;
  font-size: 1.2rem;
}

.accordion-button:focus {
  background-color: #202020;
  color: #ffffff;
  outline: 0;
  box-shadow: none;
}

.accordion-collapse {
  background-color: #202020;
}

.accordion-body {
  background-color: #202020;
  color: #ffffff;
}

.accordion-button::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

@media screen and (max-width: 765px) {
  .accordion-item {
    width: 80vw;
    margin: 30px auto;
  }

  .faq-3 {
    margin-bottom: 0;
  }
}

/* *********** CONTACT US ************* */
.contact-box {
  /* width: 33%; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.contact-box a {
  text-decoration: none;
  color: white;
  font-family: "Rubik", sans-serif;
  font-size: 1.02vw;
  display: flex;
  align-items: center;
}

.contact-span {
  font-family: "VT323", monospace;
  font-weight: 100;
  font-size: 1.2rem;
}

@media screen and (max-width: 765px) {
  .contact-box {
    width: 80%;
    margin: 15px auto;
    display: flex;
    justify-content: flex-start;
    /* padding-left: 15px; */
  }
}

/* *********** FOLLOW US SECTION ************ */
body {
  background-color: #ffa500;
}
.simpleCircle [class*="fa fa-"] {
  background-color: #333;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  margin: auto 3px;
  width: 40px;
  font-size: 18px;
  text-align: center;
}

.social [class*="fa fa-"] {
  background-color: #333;
  border-radius: 50px;
  color: #fff;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  margin: auto 3px;
  width: 50px;
  font-size: 24px;
  text-align: center;
}

.social [class*="fa fa-facebook"]:hover {
  background-color: #3b5998;
}
.social [class*="fa fa-instagram"]:hover {
  background: linear-gradient(
    to bottom right,
    #4c68d7,
    #8a3ab9,
    #cd486b,
    #fbad50
  ); /* Standard syntax */
  border-radius: 70px;
  border-radius: 50px;
  height: 50px;
  line-height: 50px;
  width: 50px;
  font-size: 24px;
}
.social [class*="fa fa-twitter"]:hover {
  background-color: #4099ff;
  border-radius: 50px;
  height: 50px;
  line-height: 50px;
  width: 50px;
  font-size: 24px;
}
.social [class*="fa fa-youtube-play"]:hover {
  background-color: #c4302b;
  border-radius: 50px;
  height: 50px;
  line-height: 50px;
  width: 50px;
  font-size: 24px;
}

.social [class*="fa fa-flickr"]:hover {
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(
    90deg,
    #0063dc,
    #ff0084
  ); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(
    90deg,
    #0063dc,
    #ff0084
  ); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(
    90deg,
    #0063dc,
    #ff0084
  ); /* For Firefox 3.6 to 15 */
  background: linear-gradient(90deg, #0063dc, #ff0084); /* Standard syntax */
  border-radius: 50px;
  height: 50px;
  line-height: 50px;
  width: 50px;
  font-size: 24px;
}

.pop [class*="fa fa-"] {
  background-color: #333;
  border-radius: 50px;
  color: #fff;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  margin: auto 3px;
  width: 50px;
  font-size: 24px;
  text-align: center;
}

.pop [class*="fa fa-facebook"]:hover {
  background-color: #3b5998;
  border-radius: 70px;
  height: 70px;
  line-height: 70px;
  width: 70px;
  font-size: 36px;
}
.pop [class*="fa fa-instagram"]:hover {
  background: linear-gradient(
    to bottom right,
    #4c68d7,
    #8a3ab9,
    #cd486b,
    #fbad50
  ); /* Standard syntax */
  border-radius: 70px;
  height: 70px;
  line-height: 70px;
  width: 70px;
  font-size: 36px;
}
.pop [class*="fa fa-twitter"]:hover {
  background-color: #4099ff;
  border-radius: 70px;
  height: 70px;
  line-height: 70px;
  width: 70px;
  font-size: 36px;
}
.pop [class*="fa fa-youtube-play"]:hover {
  background-color: #c4302b;
  border-radius: 70px;
  height: 70px;
  line-height: 70px;
  width: 70px;
  font-size: 36px;
}

.appTiles [class*="fa fa-"] {
  background-color: #333;
  border-radius: 100%;
  color: #fff;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  margin: auto 3px;
  width: 50px;
  font-size: 24px;
  text-align: center;
}

.appTiles [class*="fa fa-facebook"]:hover {
  background-color: #3b5998;
  border-radius: 100%;
  height: 50px;
  line-height: 50px;
  width: 50px;
  font-size: 24px;
}
.appTiles [class*="fa fa-instagram"]:hover {
  background: linear-gradient(
    to bottom right,
    #4c68d7,
    #8a3ab9,
    #cd486b,
    #fbad50
  ); /* Standard syntax */

  border-radius: 100%;
  height: 50px;
  line-height: 50px;
  width: 50px;
  font-size: 24px;
}
.appTiles [class*="fa fa-linkedin"]:hover {
  background-color: #4099ff;
  border-radius: 100%;
  height: 50px;
  line-height: 50px;
  width: 50px;
  font-size: 24px;
}
.appTiles [class*="fa fa-youtube-play"]:hover {
  background-color: #c4302b;
  border-radius: 100%;
  height: 50px;
  line-height: 50px;
  width: 50px;
  font-size: 24px;
}
